
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.main {
  height: calc(100vh - 5rem);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding {
  padding-top: 4.5rem;
}