@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  background-color: #d1b8a3;
}

.padding {
  padding-top: 4.5rem;
}

.product-section {
  margin-top: 20px;
  display:inline;
}

.product-section h2 {
  font-size: 24px;
  margin-bottom: 3rem;
}

.footer {
  text-align: right;
  font-size: small;
  padding: 5px;
  background-color: transparent;
  position: sticky;
  bottom: 0;
}

.headerDiv h2 {
  font-size: 24px;
  padding: 10px;
  margin-bottom: 10px;
}