/**
* Styling for add to cart button
**/

.addToCartButton {
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 30%;
  width: 15rem;
}

.addToCartButton:active {
  transform: scale(
    0.9
<<<<<<< HEAD
  ); 
=======
  );
>>>>>>> main
  transition: transform 0.3s;
}
