.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* Adjust the height as needed */
    width: 90rem;
    background-color: #d1b8a3;
  }
  
  .bannerImage {
    max-width: 100%vp;
    max-height: 100%;
  }
  
 
  
  