.product_card {
    display:inline-flex;
    flex-direction:column;
    height: 250px;
    width: 250px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgb(240, 240, 240);
    margin-bottom: 5rem;
  }
  
  .product_card:hover {
    cursor: pointer;
  }
  
  .product_image {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .product_information {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 30%;
  }
  
  .product_name {
    font-size: 16px;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .unit_price {
    font-size: 14px;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /* ProductCard.module.css */

.addToCartButton {
  /* Styles for the 'Add to Cart' button */
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  /* Add additional styles as needed */
}
