.headerContainer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 9px;
  flex-direction: row;
  height: 4.75rem;
  position: fixed; /* Makes the header fixed at the top */
  top: 0; /* Aligns the header at the top of the page */
  left: 0; /* Aligns the header to the left of the page */
  right: 0; /* Ensures the header extends fully to the right */
  z-index: 1000; /* Ensures the header stays on top of other content */
}

.logoContainer {
  order: -1;
}

.headerItemsContainer {
  display: flex;
  align-items: flex-end;
  padding: 9px;
}

.headerItem {
  margin-left: 17.5px; /* adjust space between icons */
}

.headerItemImage {
  max-width: 100%;
  height: auto;
  margin-right: 10px;
}
