/* SearchButtonThatSlides.css */

.searchButton {
  /* Add your button styles */
  color: white;
  border-radius: 0.25rem;
  outline: none;
}

.searchInput {
  /* Add your input styles */
  border-radius: 0.25rem;
  padding: 0.5rem;
  border: 10px;
  background-color: #fff;
  font-weight: medium;
}
