.searchButton {
  color: white;
  border-radius: 0.25rem;
  outline: none;
}

.searchInput {
  border-radius: 0.25rem;
  padding: 0.5rem;
  border: 10px;
  background-color: #fff;
  font-weight: medium;
}
